
.work{
  background: #132F59;
 
  height: 864px;
  left: 0px;
  top: 1883px;
  padding: 10px;

}
.work_title{
font-family: 'Roboto Flex';
font-style: normal;
font-weight: 700;
font-size: 68px;
line-height: 80px;
color: #FFFFFF;

}
.work_item-numb{
position: relative;
font-family: 'Roboto Flex';
font-style: normal;
font-weight: 700;
font-size: 86px;
line-height: 101px;
color: #FFFFFF;
font-stretch: 125px;
border-right: 3px solid#fff ;

}
.work_item-text{
font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
font-stretch: 125;
display: block;
justify-content: space-between;


}
.row{
  --bs-gutter-x: 1.5rem;
}

.work_item{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.row_title{
  display: flex;
  flex-wrap: wrap;


}
@media screen and (max-width: 1750px) {
  
}